# Copyright 2018 Serge Bazanski <serge@bazanski.pl>
#
# SPDX-License-Identifier: CC0-1.0

LOCATE COMP "clk" SITE G2;
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE R1;
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE B2;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[1]" SITE C2;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[2]" SITE C1;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[3]" SITE D2;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[4]" SITE D1;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[5]" SITE E2;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[6]" SITE E1;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[7]" SITE H3;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpio0" SITE L2;
IOBUF PORT "gpio0" IO_TYPE=LVCMOS33;

