# Copyright 2018 Serge Bazanski <serge@bazanski.pl>
#
# SPDX-License-Identifier: CC0-1.0

LOCATE COMP "clk" SITE G2;
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE R1;
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

LOCATE COMP "led_0" SITE B2;
IOBUF PORT "led_0" IO_TYPE=LVCMOS33;

LOCATE COMP "led_1" SITE C2;
IOBUF PORT "led_1" IO_TYPE=LVCMOS33;

LOCATE COMP "led_2" SITE C1;
IOBUF PORT "led_2" IO_TYPE=LVCMOS33;

LOCATE COMP "led_3" SITE D2;
IOBUF PORT "led_3" IO_TYPE=LVCMOS33;

LOCATE COMP "led_4" SITE D1;
IOBUF PORT "led_4" IO_TYPE=LVCMOS33;

LOCATE COMP "led_5" SITE E2;
IOBUF PORT "led_5" IO_TYPE=LVCMOS33;

LOCATE COMP "led_6" SITE E1;
IOBUF PORT "led_6" IO_TYPE=LVCMOS33;

LOCATE COMP "led_7" SITE H3;
IOBUF PORT "led_7" IO_TYPE=LVCMOS33;

LOCATE COMP "gpio0" SITE L2;
IOBUF PORT "gpio0" IO_TYPE=LVCMOS33;

